.footer{
    background-color: #02072b;
    padding: 30px 0;
    color: gray;
}

.footer-contain{
    border-right: 1px solid gray;
}
.developer{
    width: 100%;
    background-color: #000000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.developer_contain{
    padding: 10px;
    color: rgb(181, 179, 179);
}
.ancor a{
    text-decoration:underline;
   
}